* {
  all: unset;
  display: revert;
  cursor: revert;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
html {
  --primary-color: ;
  --background-color: ;
}

h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
  padding-bottom: 10px;
}
h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 1.6rem;
  padding-bottom: 10px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 65ch;
}
.toggle-btn:hover {
  box-shadow: none;
}
