body {
  background-color: #ffc2fe;
  margin: 10px;
}
/* Menu */

/* Logo */
.logo {
  width: 200px;
  height: 90px;
  margin: 0rem;
  padding: 1rem;
  display: flex;
  justify-self: center;
}
/* menu bjælken */
.banner {
  background: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-items: center;
}
/* menu punkterne bjælke */
ul {
  padding-top: 10%;
  padding-right: 30px;
  display: flex;
  gap: 100px;
  justify-content: center;
  list-style: none;
}

/* knap i mobilversion som viser menu */
.toggle-btn {
  background: transparent;
  border: none;
  min-width: 60px;
  margin-bottom: 40px;
  font-size: 1.1rem;
  cursor: pointer;
  display: none;
  font-size: 60px;
}
/* regler for menu knappen i mobilversion */
@media (max-width: 627px) {
  .toggle-btn {
    display: block;
    color: black;
  }
  .main-menu {
    display: contents;
  }
  .main-menu ul {
    display: none;
    gap: 30px;
  }
  .main-menu.shown ul {
    border-top: 1px solid black;
    padding: 1rem;
    gap: 1px;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }
}
video {
  width: 100%;
  height: auto;
}
/* farve og font på skriften a i menuen */
a {
  font-family: "Bebas Neue", cursive;
  font-size: 1.6rem;
}
/* underline på valgte menu*/
.valgt {
  text-decoration: underline;
}
@media screen and (min-width: 730px) {
  .col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 100px;
    gap: 40px;
    place-items: center center;
  }
}
.kampagnevideo {
  display: grid;
  place-items: center center;
  margin: 70px;
  padding: 30px;
}
@media screen and (min-width: 730px) {
  .kampagnevideo {
    padding: 80px;
  }
}
.learn-button {
  border: 2px solid black;
  padding: 7px 60px 7px 60px;
  margin-top: 20px;
}
.video {
  display: grid;
  /* place-items: center; */
  padding: 30px;
}
/* glow effekt, når man hover over knapperne */
button:hover {
  box-shadow: inset 0px 0px 1rem 0px #ffffff;
}

/* knapper i spørgeskemaet */
.btn_20a {
  border: 2px solid black;
  padding: 14px 41px;
  font-size: 18px;
  cursor: pointer;
  display: inline-block;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.btn_durum {
  border: 2px solid black;
  padding: 14px 36px;
  font-size: 18px;
  cursor: pointer;
  display: inline-block;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.btn_rabat {
  border: 2px solid black;
  padding: 14px 52px;
  font-size: 18px;
  cursor: pointer;
  display: inline-block;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.btn_øl {
  border: 2px solid black;
  padding: 14px 60px;
  font-size: 18px;
  cursor: pointer;
  display: inline-block;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.btn_send {
  border: 2px solid black;
  padding: 7px 60px 7px 60px;
  background-color: rgb(129, 174, 102);
  cursor: pointer;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 42px;
}

/* gør så knapper skifter farve i spørgeskemaet */
.btn_20a:focus {
  background: rgb(189, 184, 184);
}
.btn_durum:focus {
  background: rgb(189, 184, 184);
}
.btn_rabat:focus {
  background: rgb(189, 184, 184);
}
.btn_øl:focus {
  background: rgb(189, 184, 184);
}
@media (min-width: 627px) {
  .overskrift {
    place-items: center center;
    text-align: center;
    display: block;
  }
  .spørgeskema {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    place-items: center center;
    margin: 70px;
    padding: 30px;
  }
}
