body {
  background-color: #ffc2fe;
  margin: 10px;
}
/* Menu */

/* Mindre logo placering på de andre sider */
.logo {
  width: 200px;
  height: 90px;
  margin: 0rem;
  padding: 1rem;
  display: flex;
  justify-self: center;
}
.banner {
  background: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-items: center;
}
ul {
  padding-top: 10%;
  padding-right: 30px;
  display: flex;
  gap: 100px;
  justify-content: center;
  list-style: none;
}
ol {
  list-style: none;
}

.toggle-btn {
  background: transparent;
  border: none;
  min-width: 60px;
  margin-bottom: 40px;
  font-size: 1.1rem;
  cursor: pointer;
  display: none;
  font-size: 60px;
}

@media (max-width: 627px) {
  .toggle-btn {
    display: block;
    color: black;
  }
  .main-menu {
    display: contents;
  }
  .main-menu ul {
    display: none;
    gap: 30px;
  }
  .main-menu.shown ul {
    border-top: 1px solid black;
    padding: 1rem;
    gap: 1px;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }
}
video {
  width: 100%;
  height: auto;
}
/* farve og font på skriften a i menuen */
a {
  font-family: "Bebas Neue", cursive;
  font-size: 1.6rem;
}
/* underline på valgte menu*/
.valgt {
  text-decoration: underline;
}
@media screen and (min-width: 730px) {
  .col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 100px;
    gap: 40px;
    place-items: center center;
  }
  .spørgeskema {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 100px;
    gap: 40px;
    place-items: center center;
  }
  .video {
    padding: 80px;
  }
}
.kampagnevideo {
  display: grid;
  place-items: center center;
  margin: 70px;
  padding: 30px;
}
@media screen and (min-width: 730px) {
  .kampagnevideo {
    padding: 80px;
  }
}
.learn-button {
  border: 2px solid black;
  padding: 7px 60px 7px 60px;
  margin-top: 20px;
}
.video {
  display: grid;
  /* place-items: center; */
  margin: 70px;
  padding: 30px;
}
/* glow effekt, når man hover over knapperne */
button:hover {
  box-shadow: inset 0px 0px 1rem 0px #ffffff;
}
