body {
  background-color: #ffc2fe;
  margin: 30px;
}
/* Mindre logo placering på de andre sider */
.logo {
  width: 200px;
  height: 90px;
  margin: 0rem;
  padding: 1rem;
  display: flex;
  justify-self: center;
}
.banner {
  background: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-items: center;
}
ul {
  padding-top: 10%;
  padding-right: 30px;
  display: flex;
  gap: 100px;
  justify-content: center;
  list-style: none;
}

.toggle-btn {
  background: transparent;
  border: none;
  min-width: 60px;
  margin-bottom: 40px;
  font-size: 1.1rem;
  cursor: pointer;
  display: none;
  font-size: 60px;
}

@media (max-width: 627px) {
  .toggle-btn {
    display: block;
    color: black;
  }
  .main-menu {
    display: contents;
  }
  .main-menu ul {
    display: none;
    gap: 30px;
  }
  .main-menu.shown ul {
    border-top: 1px solid black;
    padding: 1rem;
    gap: 1px;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }
}
/* farve og font på skriften a i menuen */
a {
  font-family: "Bebas Neue", cursive;
  font-size: 28px;
}
/* underline på valgte menu*/
.valgt {
  text-decoration: underline;
}
