/** @format */

body {
  background-color: black;
  margin: 10px;
}
h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
  color: white;
  padding-top: 30px;
}
h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 1.6rem;
  color: white;
}
h3 {
  font-family: "Bebas Neue", cursive;
  font-size: 1.5rem;
  color: white;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  max-width: 65ch;
  line-height: 20px;
}
button {
  font-family: "Bebas Neue", cursive;
  color: white;
  border: 2px solid white;
  padding: 10px 20px 10px 20px;
}
/* glow effekt, n책r man hover over knapperne */
button:hover {
  box-shadow: inset 0px 0px 1rem 0px #ffffff;
}
.item-right button {
  margin-top: 25px;
  text-align: center;
}
hr {
  border-bottom: 2px solid white;
  width: 100%;
}
/* @media screen and (min-width: 627px) {
  .grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center center;
    gap: 30px;
  } */

#kapitler {
  color: white;
  font-family: "Bebas Neue", cursive;
  font-size: 1.2rem;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center center;
  column-gap: 28px;
  margin-inline: 2rem;
  row-gap: 20px;
  margin-bottom: 5rem;
  margin-top: 2rem;
}

@media (min-width: 627px) {
  #kapitler {
    color: white;
    font-family: "Bebas Neue", cursive;
    font-size: 1.2rem;
    text-align: center;
    display: grid;
    grid-template-columns: 0.3fr 0.3fr;
    place-content: center center;
    column-gap: 28px;
    margin-inline: 2rem;
    row-gap: 20px;
    margin-bottom: 5rem;
  }
}

@media screen and (min-width: 730px) {
  .start {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 100px;
    gap: 20px;
    place-items: center center;
  }
}
footer {
  padding: 30px;
}
.footer_rettigheder {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
}
/* header */
/* Mindre logo placering p책 de andre sider */
.logo {
  width: 200px;
  height: 90px;
  margin: 0rem;
  padding: 1rem;
  display: flex;
  justify-self: center;
}
.banner {
  color: white;
  background: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-items: center;
}
ul {
  padding-top: 10%;
  padding-right: 30px;
  display: flex;
  gap: 100px;
  justify-content: center;
  list-style: none;
}

.toggle-btn {
  background: transparent;
  border: none;
  min-width: 60px;
  margin-bottom: 40px;
  font-size: 1.1rem;
  cursor: pointer;
  display: none;
  font-size: 60px;
}

@media (max-width: 627px) {
  .toggle-btn {
    display: block;
    color: white;
  }
  .main-menu {
    display: contents;
  }
  .main-menu ul {
    display: none;
    gap: 30px;
  }
  .main-menu.shown ul {
    border-top: 1px solid white;
    padding: 1rem;
    gap: 1px;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }
  .main-menu ul li:hover {
    padding-left: 10px;
  }
}
/* farve og font p책 skriften a i menuen */
a {
  font-family: "Bebas Neue", cursive;
  font-size: 1.6rem;
}
a p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 20px;
}
a p:hover {
  padding-left: 10px;
}
/* underline p책 valgte menu*/
.valgt {
  text-decoration: underline;
}
.kapitler {
  border: 2px solid white;
  padding: 10px 20px 10px 20px;
  width: 200px;
  font-size: 1.4rem;
}
@media (min-width: 627px) {
  .kapitler {
    border: 2px solid white;
    padding: 10px 20px 10px 20px;
    width: 300px;
  }
}

/* galleri mobile */
/* define */
.grid_container1 {
  margin-inline: 20px;
  display: flex;
  flex-direction: column;
  place-items: center;
  padding-bottom: 50px;
}

.define-1 {
  text-align: center;
}

/* research */
.grid_container2 {
  margin-inline: 20px;
  display: flex;
  flex-direction: column;
  place-items: center;
  padding-bottom: 10px;
}

.research-1 h2 {
  text-align: center;
}

.research-1 p {
  min-width: 40ch;
}

.research-2 {
  padding-bottom: 50px;
  margin-inline: 20px;
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 5px;
}

/* ideate */
.grid_container3 {
  margin-inline: 20px;
  display: flex;
  flex-direction: column;
  place-items: center;
  padding-bottom: 10px;
}

.ideate-1 h2 {
  text-align: center;
}

.ideate-1 p {
  min-width: 40ch;
}

.ideate-2 {
  padding-bottom: 50px;
  margin-inline: 20px;
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 5px;
}

/* prototype */
.grid_container4 {
  margin-inline: 20px;
  display: flex;
  flex-direction: column;
  place-items: center;
  padding-bottom: 10px;
}

.prototype-1 h2 {
  text-align: center;
}

.prototype-1 p {
  min-width: 40ch;
}

.prototype-2 {
  padding-bottom: 50px;
  margin-inline: 20px;
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 5px;
}

/* select */
.grid_container5 {
  margin-inline: 20px;
  display: flex;
  flex-direction: column;
  place-items: center;
  padding-bottom: 10px;
}

.select-1 h2 {
  text-align: center;
}

.select-1 p {
  min-width: 40ch;
}

.select-2 {
  padding-bottom: 50px;
  margin-inline: 20px;
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 5px;
}

/* implement */
.grid_container6 {
  margin-inline: 20px;
  display: flex;
  flex-direction: column;
  place-items: center;
  padding-bottom: 10px;
}

.imp-1 h2 {
  text-align: center;
}

.imp-1 p {
  min-width: 40ch;
}

.imp-2 {
  padding-bottom: 50px;
  margin-inline: 20px;
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 5px;
}

/*galleri desktop*/
@media (min-width: 750px) {
  /* define */
  .define-2 img {
    min-width: 500px;
  }

  .grid_container1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }

  .define-1 {
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
    padding-bottom: 10px;
  }

  .define-2 {
    grid-column-start: 2;
    grid-column-end: 3;
    padding-bottom: 20px;
  }

  /* research */
  .grid_container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    margin-top: 50px;
  }

  .research-1 {
    grid-column-start: 2;
    grid-column-end: 3;
    padding-bottom: 10px;
  }

  .research-1 h2 {
    text-align: center;
  }

  .research-1 p {
    min-width: 65ch;
  }

  .research-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-inline: 50px;
    margin-bottom: 50px;
  }

  .research-2 img {
    align-self: stretch;
  }

  /* ideate */
  .grid_container3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }

  .ideate-1 {
    grid-column-start: 2;
    grid-column-end: 3;
    padding-bottom: 10px;
  }

  .ideate-1 p {
    min-width: 65ch;
  }

  .ideate-2 {
    display: grid;
    grid-template-columns: fit-content(500px) fit-content(500px);
    gap: 10px;
    margin-inline: 50px;
    margin-bottom: 50px;
    place-content: center;
  }

  .ideate-2 img {
    align-self: stretch;
  }

  /* prototype */
  .grid_container4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }

  .prototype-1 {
    grid-column-start: 2;
    grid-column-end: 3;
    padding-bottom: 10px;
  }

  .prototype-1 p {
    min-width: 65ch;
  }

  .prototype-2 {
    display: grid;
    grid-template-columns: fit-content(500px) fit-content(500px);
    gap: 10px;
    margin-inline: 50px;
    margin-bottom: 50px;
    place-content: center;
  }

  .prototype-2 img {
    align-self: stretch;
  }

  /* select */
  .grid_container5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }

  .select-1 {
    grid-column-start: 2;
    grid-column-end: 3;
    padding-bottom: 10px;
  }

  .select-1 p {
    min-width: 65ch;
  }

  .select-2 {
    display: grid;
    grid-template-columns: fit-content(500px) fit-content(500px);
    gap: 10px;
    margin-inline: 50px;
    margin-bottom: 50px;
    place-content: center;
  }

  .select-2 img {
    align-self: stretch;
  }

  /* implement */
  .grid_container6 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }

  .imp-1 {
    grid-column-start: 2;
    grid-column-end: 3;
    padding-bottom: 10px;
  }

  .imp-1 p {
    min-width: 65ch;
  }

  .imp-2 {
    display: grid;
    grid-template-columns: fit-content(300px) fit-content(300px);
    gap: 10px;
    margin-inline: 50px;
    margin-bottom: 50px;
    place-content: center;
  }
}

.imp-2 img {
  max-height: 100%;
  align-self: cover;
}

/* footer*/
.footer_flex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}
.footer_left {
  line-height: 25px;
  justify-self: start;
}

.footer_right img {
  padding: 30px 10% 30px 10%;
  justify-self: end end;
}
img {
  width: 100%;
  max-width: 500px;
  max-height: 500px;
}
