body {
  background-color: black;
  margin: 30px;
}
h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
  color: white;
}
h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 1.6rem;
  color: white;
}
h3 {
  font-family: "Bebas Neue", cursive;
  font-size: 1.5rem;
  color: white;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  max-width: 65ch;
}

hr {
  border-bottom: 2px solid white;
  width: 100%;
}
#kapitler {
  color: white;
  font-family: "Bebas Neue", cursive;
  font-size: 1.2rem;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center center;
  column-gap: 28px;
  margin-inline: 2rem;
  row-gap: 10px;
  margin-bottom: 5rem;
  margin-top: 2rem;
}
button {
  border: 2px solid white;
  padding: 10px;
}
@media (min-width: 627px) {
  #kapitler {
    color: white;
    font-family: "Bebas Neue", cursive;
    font-size: 1.2rem;
    text-align: center;
    display: grid;
    grid-template-columns: 0.3fr 0.3fr;
    place-content: center center;
    column-gap: 28px;
    margin-inline: 2rem;
    row-gap: 10px;
    margin-bottom: 5rem;
  }
}

@media screen and (min-width: 730px) {
  .start {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 100px;
    gap: 20px;
    place-items: center center;
  }
}
footer {
  padding-top: 30px;
}
.footer_rettigheder {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
}
/* header */
/* Mindre logo placering på de andre sider */
.logo {
  width: 200px;
  height: 90px;
  margin: 0rem;
  padding: 1rem;
  display: flex;
  justify-self: center;
}
.banner {
  color: white;
  background: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-items: center;
}
ul {
  padding-top: 10%;
  padding-right: 110px;
  display: flex;
  gap: 100px;
  justify-content: center;
  list-style: none;
}

.toggle-btn {
  background: transparent;
  border: none;
  min-width: 60px;
  margin-bottom: 40px;
  font-size: 1.1rem;
  cursor: pointer;
  display: none;
  font-size: 60px;
}

@media (max-width: 627px) {
  .toggle-btn {
    display: block;
    color: white;
  }
  .main-menu {
    display: contents;
  }
  .main-menu ul {
    display: none;
    gap: 30px;
  }
  .main-menu.shown ul {
    border-top: 1px solid white;
    padding: 1rem;
    gap: 1px;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }
}
/* farve og font på skriften a i menuen */
a {
  font-family: "Bebas Neue", cursive;
  font-size: 1.6rem;
}
/* underline på valgte menu*/
.valgt {
  text-decoration: underline;
}
